.wrapper {
    grid-area: sidebar;

    padding: 20px 25px;

    border-right: 1px solid #F3F3F3;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
}

.button.hidden {
    transform: rotate(180deg);
}

.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 40px;
}

.title {
    font-weight: 500;
    font-size: 20px;
}

