.wrapper {
    position: relative;
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px 25px;

    background-color: var(--blue-main);
}

.login {
    transition: 0.2s opacity;
}

.login:hover {
    opacity: 0.8;
}

.menuIcon {
    color: #fff;
}

.menu {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 20px 30px;

    transform: translateY(100%);

    background-color: var(--white-main);
    color: #000;
}

@media (max-width: 767px) {
    .logo {
        max-width: 150px;
    }
}