.main {
    grid-area: main;
    padding: 40px 40px 120px;
}

.layout {
    display: grid;
    grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content 1fr min-content;

    min-height: 100vh;
}

.layout.mobile {
    grid-template-areas:
            "header header"
            "main main"
            "footer footer";
}

.layout.hidden {
    grid-template-columns: max-content 1fr;
}

@media (max-width: 1023px) {
    .main {
        padding: 30px 30px 80px;
    }
}