.main {
    grid-area: main;
    padding: 40px 40px 120px;
}

.layout {
    display: grid;
    grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content 1fr min-content;

    min-height: 100vh;
}

.layout.hidden {
    grid-template-columns: max-content 1fr;
}